*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section#app-card {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

#card-CatApp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 2rem;
}