#navbar{
    display: flex;
    background-color:#121619;
    height: 6rem;
    justify-content: space-between;
    box-shadow: 0px 5px 0px #d8aa93;
}

.navlogo {
    display: flex;
    justify-items: center;
    align-items: center;
}

.navlogo h1 {
    color: #F2CDBB;
    margin-top: 0.7rem;
    text-align: center;
    font-size: 27px;
}

.navlogo img {
    margin-top: 0.6rem;
    margin-bottom: 0.8rem;
    width: 140px;
}

#nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    margin-right: 4rem;
}

.button-login  {
    background-color: #F9AE6C;
    padding: 5px;
    border-radius: 10px;
}

.button-color {
    color: rgb(0, 0, 0);
}


li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}


